@font-face{
    font-family: milky;
    src: url('./fontes/milky.otf');
}
@font-face{
    font-family: prequel;
    src: url('./fontes/prequel.otf');
}
@font-face{
    font-family: josefin;
    src: url('./fontes/JosefinSans-VariableFont_wght.ttf');
    src: url('./fontes/JosefinSans-Italic-VariableFont_wght.ttf');}
html{
    overflow-y: scroll; overflow-x: hidden; 
}
.titulo{
    font-size: 60px;
}
.margimInput{
    padding-left: 30px;
    padding-right: 30px;
}
.a-login{
    color: black;
    font-size: 16px;
}
.novo{
    font-size: 16px;
}

.botao{
    padding-top: 40px;
    text-align: center;
    align-items: center;
}
.linkCar:link, .linkCar:visited{
    color: rgb(177, 238, 247);
    text-decoration: none;
    
}
h1{
    text-align: center;
    font-size: 60px;
    font-family:  prequel;
    color: rgb(3, 44, 32);
}
body.c1{
    background-color: #94e9ae;
}
p{
    color:black;
    font-family: 'Josefin , serif';    
    font-size: 1.4rem;  
}
div.carousel-item{
    width: 800px;
    height: 100%;
}
h3{
    color:black;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h3.item , p.item{
    color: rgb(177, 238, 247);
} 
div.carousel-caption.bg{  
    background-color: rgba(0,0,0,0.6);
    border: none;
}
.lis{
    font-size: larger;
}
p.plink{
    font-family: 'Josefin , serif';
    font-size: 25px;
    text-align: center;

}
a.links:link, a.links:visited{
    text-decoration: none;
    
}
.links:hover{
    font-weight: bolder;
    color: rgb(11, 65, 145);

}
small{
    color: black;
}

div.links{
    background-color: rgb(199, 116, 69);
}

